@use "design-system";

.recovery-phrase {
  &__logo {
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 9999px;
    overflow: hidden;
    box-shadow: 0 0 0 4px rgba(65, 5, 182, 0.3), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    object-fit: contain;
  }

  &__title {
    font-size: 1.5rem;
    color: #f8fdf1;
    margin-bottom: 0.2rem;
    text-align: center;
    font-weight: 400;
  }

  &__subtitle {
    color: rgba(176, 239, 255, 0.7);
    font-size: 0.875rem;
    text-align: center;
    font-weight: 400;
  }

  &__security-alert {
    background-color: rgba(239, 68, 68, 0.1) !important;
    border: 1px solid rgba(248, 113, 113, 0.3) !important;
    border-radius: 0.75rem !important;
    padding: 1rem !important;
    margin-bottom: 1.5rem !important;

    .mm-banner-base {
      background-color: transparent !important;
    }

    &__security-alert-title {
      color: #ff6467 !important;
      font-size: 12px !important;
      font-weight: 400 !important;
    }

    .recovery-phrase__security-alert-title {
      color: #ff6467 !important;
      font-size: 14px;
      font-weight: 400 !important;
    }
  }

  &__back-button {
    flex: 1 1 0% !important;
    background-color: var(--theme-button-bg) !important;
    color: var(--color-text-sub) !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    border-radius: 0.75rem !important;
    border: var(--border-width) solid var(--theme-border-color-light) !important;
    transition: all 0.3s ease !important;

    &:hover {
      background-color: var(--theme-background-glass-hover)!important;
    }
  }

  &__continue-button {
    flex: 1 1 0% !important;
    color: #f8fdf1 !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    border-radius: 0.75rem !important;
    font-size: 1.125rem !important;
    font-weight: 400;
    transition: all 0.3s ease !important;
    box-shadow: 0 25px 50px -12px rgba(65, 5, 182, 0.5) !important;

    &:hover {
      background: linear-gradient(to right, #6305b6, #4105b6) !important;
      box-shadow: 0 25px 50px -12px rgba(65, 5, 182, 0.7) !important;
      transform: scale(1.05) !important;
    }

    &:disabled {
      padding-top: 0.75rem !important;
      padding-bottom: 0.75rem !important;
      border-radius: 0.75rem !important;
      transition: all 0.3s ease !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      gap: 0.5rem !important;
      background-color: var(--bg-btn-primary-disabled) !important;
      color: #4f5262 !important;
      cursor: not-allowed !important;
      transform: none !important;
      box-shadow: none !important;
      border: var(--border-width) solid #3d00b51c;
    }
  }

  &__header {
    grid-template-columns: 0.25fr 3.5fr 0.25fr;
  }

  &__chips {
    grid-template-columns: 1fr 1fr !important;
    gap: 0.5rem !important;

    &--hidden {
      filter: blur(8px);
      visibility: hidden;
    }

    .recovery-phrase__text {
      background-color: var(--theme-background-glass) !important;
      border-radius: 0.5rem !important;
      padding: 0.625rem !important;
      border: var(--border-width) solid var(--theme-border-color-light) !important;
      color: var(--text-color-white) !important;
      min-height: 40px !important;
      display: flex !important;
      align-items: center !important;
      gap: 0.5rem !important;

      .mm-text {
        color: var(--text-color-white) !important;
        font-size: 0.875rem !important;
      }
    }

    .recovery-phrase__word-index {
      color: rgba(255, 255, 255, 0.7) !important;
      font-size: 0.875rem !important;
      min-width: 24px !important;
    }

    .mm-text-field {
      padding-left: 8px;
      border-radius: 8px;
      background-color: var(--color-background-muted) !important;
      border: var(--border-width) solid var(--color-border-muted) !important;
      color: #ffffff !important;

      .mm-input {
        color: #ffffff !important;
      }
    }

    .mm-text-field:not(.mm-text-field--quiz-word) {
      border-color: rgba(176, 239, 255, 0.2) !important;
    }

    .mm-text-field.mm-text-field--quiz-word {
      cursor: pointer;

      .mm-input {
        cursor: pointer;
        color: #ffffff !important;
      }
    }

    .mm-text-field.mm-text-field--target-index {
      outline: 5px auto var(--color-primary-default);
    }

    .mm-text-field.mm-text-field--focused {
      outline: 5px auto var(--color-primary-default);
    }

    .mm-input {
      padding-right: 8px;
      padding-left: 4px;
      color: #ffffff !important;
    }
  }

  &__text {
    height: 40px;
  }

  &__word-index {
    width: 20px;
  }

  &__secret {
    position: relative;
    min-height: 216px;
  }

  &__secret-blocker-container {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__secret-blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    flex-flow: column nowrap;
    opacity: 0;
  }

  &__secret-blocker-text {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;

    .mm-icon {
      color: #b0efff !important;

      &.mm-icon--size-md {
        --size: 40px !important;
        width: 40px !important;
        height: 40px !important;
      }
    }

    .mm-text {
      color: #b0efff !important;
      font-size: 0.875rem !important;
      white-space: nowrap !important;
    }
  }

  .mm-icon {
    color: #f87171;
  }

  .mm-box--color-text-alternative {
    // color: rgba(176, 239, 255, 0.7) !important;
    font-size: 0.75rem !important;

    >*+* {
      margin-top: 0.25rem !important;
    }
  }

  .mm-box.mm-box--display-flex.mm-box--flex-direction-column {
    gap: 0 !important;
  }

  .custom-security-alert {
    color: #ff6467;
    font-size: 12px;
  }

  .mm-box--background-color-background-section {
    background: var(--primary-card-bg) !important;
    border-radius: 0.75rem !important;
    padding: 1.5rem !important;
    border: var(--border-width) solid var(--color-border-default) !important;
    margin-bottom: 16px;
  }

  .recovery-phrase__secret-blocker-text {
    .mm-icon {
      color: #b0efff;
    }
  }



  .mm-box.mm-box--margin-bottom-6{
    background-color: var(--theme-bg-card)!important;
    border: var(--border-width) solid var(--theme-border-color-light) !important;
    width: 100%;
  }
}

.mm-text--heading-lg {
  font-size: 1.5rem;
  color: #f8fdf1;
  margin-bottom: 0.2rem;
  text-align: center;
  font-weight: 400;
}

.mm-text--body-md {
  color: rgba(176, 239, 255, 0.7);
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}

.mm-button-base--size-lg {
  .mm-icon {
    color: #4f5262;
  }
}
.onboarding-flow__container--recovery-phrase{
  .mm-box--background-color-background-alternative {
    background-color: transparent;
    border: 1px solid #4459ff;
}
}
.mm-text--body-sm{
  font-weight: 400;
  font-size: 14px;
}
.mm-text--body-md {
  color: var(--color-text-white);
  font-size: 14px;
  text-align: start;
  font-weight: 400;
}
