.multichain-network-list-menu-content-wrapper {
  &__dialog {
    // Needed to ensure the drag and drop works. All other modals use a slide up animation with transform: translateY(0)
    // https://github.com/MetaMask/metamask-extension/issues/30436
    transform: unset;

    // Custom animation for network menu modal that doesn't use transform: translateY(0) to ensure the drag and drop works
    animation: network-menu-fade 400ms cubic-bezier(0.3, 0.8, 0.3, 1) forwards;
  }
}

@keyframes network-menu-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.multichain-network-list-menu {
  height: 100%;
  overflow: auto;
  padding-inline: 1rem;
}

.rpc-list-item {
  overflow: hidden;
}

.rpc-list-item button {
  text-align: start;
}

.new-network-list__list-of-networks {
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  background: var(--color-background-default);
  border: var(--border-width) solid var(--color-border-default);
  margin-bottom: 5px;
  transition: all 0.2s ease;

  &:hover {
    color: inherit;
    border-color: #A081DB;
  }
}
