@use "design-system";

.popover {
  &-wrap {
    background: linear-gradient(135deg, rgba(26,29,58,0.6) 0%, rgba(26,29,58,0.4) 100%) !important;
    backdrop-filter: blur(24px);
    border-radius: 16px;
    border: 1px solid rgba(65,5,182,0.4);
    box-shadow: 0 12px 40px 0 rgba(16, 7, 47, 0.22), 0 1.5px 5px 0 rgba(21, 8, 56, 0.09);
    padding: 24px;
    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: var(--color-icon-muted);
    }

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 328px;
    max-height: 94vh;
    box-shadow: var(--shadow-size-lg) var(--color-shadow-default);
    border-radius: 10px;
    background: var(--color-background-default);
    .popover-header{
      background: linear-gradient(135deg, rgba(26,29,58,0.6) 0%, rgba(26,29,58,0.4) 100%) !important;
      padding: unset !important;
    }
    .edit-gas-item{
      background: transparent !important;
    }
  }

  &-header {
    position: relative;

    &__title--center {
      flex: 1;
    }

    &__title-wrap {
      white-space: normal;
    }
  }

  &-bg {
    width: 100%;
    height: 100%;
    background: var(--color-overlay-default);
  }

  &-content {
    overflow-y: auto;
    position: relative;
    flex: 1;
    align-content: stretch;
  }

  &-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: design-system.$modal-z-index;
  }

  &-footer {
    border-top: 1px solid var(--color-border-muted);

    > :only-child {
      margin: 0 auto;
    }
  }

  &-scroll-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid var(--color-primary-default);
    z-index: 201;
    cursor: pointer;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
  }

  &-arrow {
    width: 22px;
    height: 22px;
    background: var(--color-background-default);
    position: absolute;
    transform: rotate(45deg);
    box-shadow: var(--shadow-size-lg) var(--color-shadow-default);
  }

  &-container .page-container {
    width: auto;
  }

}
