.mm-checkbox {
  cursor: pointer;

  &__input-wrapper {
    position: relative;
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1.5px solid rgba(176, 239, 255, 0.5);
    background-color: transparent;

    &:hover:not(:disabled) {
      border-color: rgba(176, 239, 255, 0.7);
      cursor: pointer;
    }

    &:focus {
      border-color: rgba(65, 5, 182, 0.8);
      outline: none;
    }

    &:disabled {
      border-color: rgba(176, 239, 255, 0.3);
      cursor: not-allowed;
      opacity: 0.5;
    }

    // Checked state
    &:checked {
      background-color: #4105b6;
      border-color: #4105b6;
    }

    &:checked:hover:not(:disabled) {
      background-color: #6305b6;
      border-color: #6305b6;
    }
  }

  &__input--checked:hover:not(:disabled),
  &__input--indeterminate:hover:not(:disabled) {
    border-color: var(--color-primary-alternative);
    background-color: var(--color-primary-alternative);
  }

  &__input--checked#{&}__input--readonly,
  &__input--checked#{&}__input--readonly:hover,
  &__input--indeterminate#{&}__input--readonly,
  &__input--indeterminate#{&}__input--readonly:hover {
    border-color: var(--color-icon-alternative);
    background-color: var(--color-icon-alternative);
    cursor: not-allowed;
  }

  &--disabled {
    opacity: var(--opacity-disabled);
    cursor: not-allowed;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
