@use 'design-system';

.asset {
  &__container {
    background-color: var(--color-background-default);
  }

  &__content {
    max-width: 650px;
    width: 100%;
  }
}

.asset-navigation {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 64px;
}

.asset-breadcrumb {
  @include design-system.H6;

  color: var(--color-text-default);
  background-color: inherit;

  &__asset {
    font-weight: bold;
  }
}

.time-range-button {
  height: 24px;

  &:hover {
    background-color: var(--color-background-default-pressed);
  }

  &__selected {
    color: var(--color-text-default);
    background-color: var(--color-background-default-hover);
  }
}

.chart-up {
  stroke: var(--color-success-default);
}

.chart-down {
  stroke: var(--color-error-default);
}

.asset-page__spending-caps {
  text-decoration: none;

  &:hover {
    color: var(--color-primary-alternative);
    text-decoration: underline;
  }
}

.asset-chart__empty-or-loading-state-container {
  aspect-ratio: 2.6;
  margin-top: 28px;
  margin-bottom: 28px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.asset-chart__empty-state-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 20px;
  border-radius: 1rem;
  background: var(var(--theme-button-bg));
  height: 100%;
}

.asset-chart__empty-state-illustration {
  max-width: 134px;
  max-height: 106px;
  width: 21%;
  height: 47%;
}

.asset-chart__skeleton {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
