@use "design-system";

.tippy-popper {
  .tippy-tooltip.tippy-tooltip--mm-custom-theme {
    backdrop-filter: blur(20px);
    padding: 10px 14px;
    padding-bottom: 12px;
    border-radius: 8px;
    background: var(--theme-popover-bg);
    border: var(--theme-popover-border);
    color: var(--theme-popover-text);
    box-shadow: var(--theme-popover-shadow);

    .tippy-tooltip-content {
      @include design-system.H6;

      text-align: left;
      color: var(--theme-popover-text);

      a {
        color: var(--theme-popover-link);
      }

      p {
        margin-bottom: 16px;
        color: var(--theme-popover-text);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &[x-placement^='top'] .tippy-tooltip.tippy-tooltip--mm-custom-theme [x-arrow] {
    border-top-color: var(--theme-popover-arrow-color);
  }

  &[x-placement^='right'] .tippy-tooltip.tippy-tooltip--mm-custom-theme [x-arrow] {
    border-right-color: var(--theme-popover-arrow-color);
  }

  &[x-placement^='left'] .tippy-tooltip.tippy-tooltip--mm-custom-theme [x-arrow] {
    border-left-color: var(--theme-popover-arrow-color);
  }

  &[x-placement^='bottom'] .tippy-tooltip.tippy-tooltip--mm-custom-theme [x-arrow] {
    border-bottom-color: var(--theme-popover-arrow-color);
  }
}
