@use "design-system";

.unlock-page {
  &__parent {
    background: var(--theme-gradient-bg);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    height: 100vh;
  }

  max-width: 400px;

  &__mascot-container {
    position: relative;

    &__beta {
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
}

