@use "design-system";

.unlock-page {
  &__parent {
    background: linear-gradient(to bottom right, rgba(26, 29, 58, 0.8), rgba(26, 29, 58, 0.6));
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }

  max-width: 400px;

  &__mascot-container {
    position: relative;

    &__beta {
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
}

