.asset-list-control-bar {
  padding-top: 16px;
  padding-bottom: 4px;

  &__network_control {
    justify-content: space-between;
    width: auto;
    min-width: auto;
    border-radius: 8px;
    padding: 0 8px !important;
    gap: 4px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    & .asset-list-control-bar__button {
      width: 32px;
      min-width: 32px;
      margin: 0;
      border-radius: 8px;
      padding: 0;
      background-image: linear-gradient(135deg, rgba(26, 29, 58, 0.6) 0%, rgba(26, 29, 58, 0.4) 100%);
      border: 1px solid rgba(65, 5, 182, 0.4);
      box-shadow: 0 10px 32px 0 rgba(31, 41, 71, 0.32), 0 0.5px 2px 0 rgba(65, 5, 182, 0.2);
      margin-left: 4px;
    }
  }

  &__button:hover {
    background-color: var(--color-background-hover);
  }
}
