.info-tooltip {
  svg {
    height: 12px;
    width: 12px;
  }

  &__tooltip-container {
    svg {
      position: static;
    }
  }
}

.tippy-tooltip {
  &#{&}-info-theme {
    max-width: 200px;
    padding: 16px;
    padding-bottom: 16px;
    backdrop-filter: blur(20px);
    background: var(--theme-popover-bg) !important;
    border: var(--theme-popover-border) !important;
    color: var(--theme-popover-text) !important;
    box-shadow: var(--theme-popover-shadow) !important;
  }
}
