/*
  Color Overrides - DEPRECATED

  All theme variables have been moved to ui/css/theme-opn.scss
  This file is kept for reference but is no longer used.

  Please use theme-opn.scss for all theme-related color variables.
*/
