/*
  Color Overrides

  This file allows you to override design token colors.
  Import this file AFTER @metamask/design-tokens/dist/styles to override values.

  Usage:
  Define your color overrides here using CSS custom properties.
*/

:root {
  /* Override accent02-dark color */
  --color-accent02-dark: #000;
  --color-accent02-light: #fff;
  --color-text-default: #f8fdf1;
  --color-text-alternative: #b0efff;
  --color-border-muted: oklab(38.7948% .0500729 -.221303 / .3);
  --color-border-default: rgba(65, 5, 182, 0.4);
  --color-background-default: #1d2449;

  /* Add more color overrides below as needed */
  /* Example:
  --color-accent02-light: #your-light-color-value;
  --color-accent03-dark: #your-color-value;
  */
}

