.multichain-network-list-item {
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  background: var(--color-background-default);
  border: var(--border-width) solid var(--color-border-default);
  margin-bottom: 5px;
  transition: all 0.2s ease;

  &:hover {
    color: inherit;
    border-color: #A081DB;
  }

  &--not-selectable {
    cursor: default;
  }

  &--disabled {
    opacity: 0.4;

    .mm-avatar-network {
      filter: grayscale(1);
    }
  }

  a:hover,
  a:focus {
    color: inherit;
    border: var(--border-width) var(--color-border-default);
  }

  &:hover,
  &:focus,
  &:focus-within {
    .multichain-network-list-item__delete {
      visibility: visible;
    }
  }

  &__tooltip {
    display: inline;
  }

  &__selected-indicator {
    width: 4px;
    height: calc(100% - 8px);
    position: absolute;
    top: 4px;
    left: 4px;
  }

  &__delete {
    visibility: hidden;
  }

  &__rpc-endpoint {
    max-width: 100%;
  }

  .mm-button-icon {
    --button-icon-size: 20px;
  }

  .mm-avatar-base {
    border: none;
  }

  .mm-avatar-network__network-image {
    border: none;
    width: 35px;
  }
}
