@use "design-system";

.multichain-bridge-transaction-list-item {
  &__segment {
    height: 4px;
    width: 0;
    transition: width 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-radius: var(--rounded-pill);
    background-color: var(--color-primary-default);

    &--pending {
      width: 50%;
    }

    &--complete {
      width: 100%;
    }
  }

  &__segment-container {
    width: 100%;
    height: 4px;
    background-color: var(--color-background-alternative);
    border-radius: var(--rounded-pill);
  }

  &__dest-amount {
    color: var(--color-text-alternative);
  }

  .transaction-status-label--confirmed {
    color: #2280cd;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    background-color: rgba(34, 128, 205, 0.1);
    border: 1px solid #2280cd;
    font-size: 12px;
  }
}
