@use "design-system";

.account-overview {
  &__balance-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
  }
}

.account-overview-unknown {
  &__empty {
    margin-top: 24px;
  }
}
.lock-wallet-button{
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(239, 68, 68, 0.2);
  color: #f87171;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.75rem;
  transition: all 0.2s;
  border: 1px solid rgba(239, 68, 68, 0.3);
  box-shadow: 0 10px 15px -3px rgba(239,68,68,0.2), 0 4px 6px -4px rgba(239,68,68,0.2);

  &:hover {
    background-color: rgba(239, 68, 68, 0.3);
  }
}
