@use "design-system";


.network-manager__tab-list {
  display: flex;
  width: 100%;

  li {
    flex: 1;
    text-align: center;

    button {
      width: 100%;
      justify-content: center;
    }
  }
}

.network-manager__tab-content {
  padding: 20px;
  overflow-y: auto;
  max-height: 70vh;
}

.network-manager__networks-button-icon {
  justify-content: center;
  display: flex;
}

.network-manager__additional-network-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 12px;
  background: var(--color-background-default);
  border: var(--border-width) solid var(--color-border-default);
  margin-bottom: 5px;
  transition: all 0.2s ease;

  .mm-button-icon {
    --button-icon-size: 20px;
  }

  .mm-avatar-base {
    border: none;
  }

  .mm-avatar-network__network-image {
    border: none;
    width: 35px;
  }

  &:hover {
    border-color: #A081DB;
  }

  .mm-text--body-md-medium {
    font-size: 14px;
    font-weight: 400;
  }
}

.add-network__warning-icon {
  cursor: help;
}
