@use "design-system";

@import './connection-list-item';

// Permissions page theme styling
[data-testid="permissions-page"] {
  width: 100% !important;
  background: var(--modal-bg-color);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(65, 5, 182, 0.4);
  box-shadow: 0 10px 32px 0 rgba(31, 41, 71, 0.32),
    0 0.5px 2px 0 rgba(65, 5, 182, 0.2);

  // Header styling
  .mm-box--background-color-background-default {
    background-color: transparent !important;
  }

  // Text colors
  .mm-text {
    color: var(--color-text-default);
    text-align: center;
  }

  .mm-text--body-md,
  .mm-text--body-md-medium {
    color: var(--color-text-default);
  }

  .mm-text--body-md[class*="text-alternative"] {
    color: #b0efff;
  }

  // Icon colors
  .mm-icon {
    color: var(--color-icon-default);
  }

  // Button icon colors
  .mm-button-icon {
    color: #b0efff;

    &:hover {
      color: #f8fdf1;
    }
  }
}

.multichain-page {
  padding: unset !important;
}
